* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: #92DFC8;
    padding: 20px;
    text-align: center;
}

.section-one {
    margin-bottom: 10px;
}

.section-one .content {
    background-color: #CAEFF2;
    padding: 20px;
    width: 70%;
    height: 500px;
    text-align: center;
    float: left;
}

.section-one .aside {
    background-color: #F2D8CA;
    padding: 20px;
    width: 30%;
    height: 500px;
    text-align: center;
    float: right;
}

.clear-fix {
    clear: both;
}

.section-two .box {
    background-color: #F2F1CA;
    padding: 20px;
    width: calc(100%/4 - 10px);
    height: 150px;
    text-align: center;
    margin-right: calc(40px/3);
    margin-bottom: 10px;
    float: left;
}

.section-two .box:nth-child(4) {
    margin-right: 0;
}

.footer {
    background-color: #EECBF3;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .section-one .content {
        width: 100%;
    }
    .section-one .aside {
        width: 100%;
    }
    .section-two .box:nth-child(2) {
        margin-right: 0px;
    }

    .section-two .box {
        width: calc(100%/2 - 5px);
        margin-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    .section-two .box {
        width: 100%;
    }
}